.button {
  background: none;
  outline: none;
  border: none;
  color: var(--acc-5);
  display: flex;
  align-items: center;
  gap: var(--sp);
  cursor: pointer;
}

.button,
.button span {
  transition: 80ms ease-in-out;
}

.button span {
  font-weight: lighter;
}

.button:hover {
  color: var(--col);
}

.iconContainer {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 200ms ease-in-out;
}

.button:hover .iconContainer {
  background-color: rgba(var(--col-rgb), 0.25);
}

.icon {
  width: 22px;
  height: 22px;
}

.toggled {
  color: var(--col);
}
